body {
    font-family: "Lato";
    color:#4a4a4a;
}

.login-container {
  
    /* position the container relative to the main page */
    position: absolute;
    top:0;
    left:0;
    
    /* make the container cover the entire main page */
    width:100%;
    height:100%;
    
    /* display the form and overlay as flex items */
    display:flex;
    
    /* align the form to the center of the container */
    align-items:center;
    justify-content:center;


 
 }
 
 .login-form {
 
 /* position the form above both overlay and main page */
 position:relative;
 
 /* give it a higher z-index than overlay and main page */
 z-index:2;
 
 /* give some padding and border to the form */
 padding:20px;
 border: none;

 box-shadow: 2px 2px 1px rgba(128, 128, 128, 0.5);
 
 /* give it a white background color */
 background-color:white;

 border-radius: 15px;
 
 /* make it wider than before */
 width:35%;
 
 }
 
 .login-popup-title {
 
 /* center the title of the form */
 text-align:center;
 font-size: 25px;
 
 }
 
 .login-input-title {
 
 /* display labels as block elements */
 display:block;
 
 }
 
 .login-input-textbox {
 
 /* give some margin and width to input fields */
 margin:10px;
 width:100%;
 background-color: rgba(128, 128, 128, 0.1);
 border-radius: 10px;
 margin: 8px 0;
 padding: 12px 20px;
 border: none;
 padding: 10px;
 box-sizing: border-box;
 margin-bottom: 12px;

 }


 
 .login-input-textbox:focus {
    outline: none;
 }
 
 .login-buttons {
 
 /* display buttons as flex items */
 display:flex;
 
 /* space them evenly */
 justify-content:space-evenly;

 margin-top: 10px;
 
 
 }

 .login-buttons button {
    background-color: #9fc7aa9a;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    width: 100px;
    cursor: pointer;
    font-family: "BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif";
 }
 
 .login-overlay {
 
 /* position the overlay below both form and main page*/
 position:absolute;
 
 /* make it cover the entire container */
 width:100%;
 height:100%;
 
 /* give it a semi-transparent black color */
 background-color:rgba(0,0,0,0.2);
 
 /* give it a lower z-index than form but higher than main page*/
 z-index:1;
 
 }