.container {
  /* display: flex; */
  /* flex-direction: column; */
  height: 100vh;
  width: 100vw;
  background-color: #F5F5F5;
  
}

.MuiButton-outlinedPrimary {
  color:rgb(117, 137, 122) !important;
  border-color:rgba(117, 137, 122, 0.7) !important;
}

.MuiSvgIcon-root {
  color: rgba(117, 137, 122, 0.7) !important;
}

.MuiButton-containedPrimary {
  background-color: rgba(117, 137, 122, 0.7) !important;
}

.MuiFormControlLabel-label {
  font-size: 15px !important;
  padding-top: 0% !important;

}

.MuiRadio-colorPrimary.Mui-checked {
  color: rgba(117, 137, 122, 0.7) !important;
}

.header {
  display: flex;
  align-items: center;
  padding: 25px;
  background: rgba(117, 137, 122, 0.7);
}

.logo {
  position: absolute;
  left: 1%;
  /* change size to half */

}

.title {
  position: absolute;
  left: 6%;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 43px;
  display: flex;
  align-items: top;
  color: #FFFFFF;
}

.profile {
  position: absolute;
  right: 2%;
}
.main {
  /* change the proportion of display */
  justify-content: center;
  margin-right: 80px;
  margin-left: 80px;
}

.postingTitle {
  font-size: 21px;
}

.postEle {
  font-size: 15px;
}

.housingType {
  color:rgba(117, 137, 122, 0.7)
}

.search-bar {
  position: absolute;
  left: 25%;
  box-sizing: border-box;
  width: 500px;
  height: 40px;
  border: 1px solid #788e7d;
  border-radius: 96px;
  font-family: 'Lato';
  font-style: normal;
  font-size: 20px;
}

.filterPage {
  display: flex;
  flex:  1 1 auto;
  width: 100%;
}

.filterCond {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  padding-top: 30px;
  padding-right: 30px;
  width: 200px;
}


.filterResult {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 100px;
  width: 700px;
}

.postButtom {
  display: flex;
  align-items: center;
  font-size: 15px;
}

.postEle {
  display: flex;
  justify-content: space-between;
}