.new-house-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background: rgba(117, 137, 122, 0.7);
  }
  
  .logo {
    position: absolute;
    left: 1%;
  }
  
  .new-house-header-title {
    position: absolute;
    left: 6%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    display: flex;
    align-items: top;
    color: #FFFFFF;
  }
  
  .username-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .profile {
    position: absolute;
    right: 2%;
  }
  