/* Banner.css */



.banner {
    position: absolute;
    width: 100%; /* Set width to 100% to make the banner span the full width of the viewport */
    height: 70px; /* Set the height to a shorter value */
    left: 0; /* Set left to 0 to align the banner with the left edge of the viewport */
    top: 0; /* Set top to 0 to align the banner with the top edge of the viewport */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #75897A;
    color: #ffffff;
  }
  
  .banner-logo {
    height: 45px; /* Adjust the logo size as needed */
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px; /* Add some margin to the left of the logo */
  }

  .logo-title-container {
    display: flex;
    align-items: center;
    gap: 10px;
    
  }
  
  
  
  .banner-welcome {
    font-size: 18px;
    
    margin-right: 20px; /* Add some margin to the right of the "Welcome" text */
  }
  